header, body, footer, aside, nav, main, article, figure {
    display: block;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Aclonica';
    background-color: lightgreen;
}
#nav_menu ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
#nav_menu ul li{
    float: left;
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
    border-bottom: 3px solid black;
    width: 16.51%;
}
#nav_menu li a{
    font-size: 120%;
    display: block;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    font-weight: bold;
}
#nav_menu li b{
    display: block;
    text-align: center;
    padding-top: 1.06em;
    padding-bottom: 1.06em;
}

body{
    overflow-y: hidden;
}
main h1{
    position: fixed;
    left: 50%;
    top: 15%;
    font-size: 400%;
    transform: translate(-50%, -50%);
}

section{
    float: none;
    width: 100%;
    padding-top: 10%;
}
section li{
    position: center;
    margin-bottom: 0.5%;
    font-size: 120%;
    text-align: center;
    list-style-type: none;
}


