header, body, footer, aside, nav, main, article, figure {
    display: block;
}
*{
    margin: 0;
    padding: 0;
}
html{
    background-color: lightgreen;
}

body{
    font-size: 120%;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#button{
    background-color: white;
}
